<header>
  <div class="header-wrap">
    <img src="assets/images/kaola.png">
    <nav>
      <ul>
        <li routerLink="/home" routerLinkActive="active">
          <span>首页</span>
        </li>
        <li routerLink="/product" routerLinkActive="active">
          <span>产品中心</span>
        </li>
        <li routerLink="/service" routerLinkActive="active">
          <span>服务支持</span>
        </li>
        <li routerLink="/application" routerLinkActive="active" menu-dropDown>
          <span>产品应用</span>
          <ul>
            <li>应用案例</li>
            <li>视频中心</li>
          </ul>
        </li>
        <li routerLink="/news" routerLinkActive="active">
          <span>新闻资讯</span>
        </li>
        <li routerLink="/about" routerLinkActive="active">
          <span>关于我们</span>
        </li>
        <li routerLink="/contact" routerLinkActive="active">
          <span>联系我们</span>
        </li>
      </ul>
    </nav>
  </div>
</header>
