<div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="assets/images/1.jpg">
      </div>
      <div class="swiper-slide">
        <img src="assets/images/2.jpg">
      </div>
      <div class="swiper-slide">
        <img src="assets/images/3.jpg">
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <section class="product">
    <h1>产品中心</h1>
    <div class="wrap">
      <ng-container *ngFor="let product of productList">
        <product-profile [content]="product.content" [imageUrl]="product.url"></product-profile>
      </ng-container>
    </div>
  </section>
  <section class="news">
    <h1>新闻中心</h1>
    <div class="wrap">

    </div>
  </section>
</div>

